# Hue Bridge IP
HUE_BRIDGE_IP=
HUE_LIGHT_ID=
LIGHT_BRIGHTNESS=

# Device detection
MIN_DEVICE_COUNT=6  # Advised
SETTLE_SECONDS=1.5  # Advised

# Device info
# List of devices used
DEVICES=            # Comma-separated, e.g. PC,LAPTOP_PRIVATE,LAPTOP_WORK
# PC
HOSTNAME_PC=
HUE_API_KEY_PC=
DEVICE_COLOR_PC=
# Private laptop
HOSTNAME_LAPTOP_PRIVAT=
HUE_API_KEY_LAPTOP_PRIVAT=
DEVICE_COLOR_LAPTOP_PRIVAT=
# Work laptop (Geberit)
HOSTNAME_LAPTOP_ARBEIT=
HUE_API_KEY_LAPTOP_ARBEIT=
DEVICE_COLOR_LAPTOP_ARBEIT=

# n8n / Pi
PI_IP=
N8N_WEBHOOK_URL=
HEARTBEAT_INTERVAL=